

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: rgb(238, 236, 236);
  --neon-green: rgba(49, 151, 151);
  --done-low-color: black;
  --done-low-bg-color: rgba(252, 14, 14, 0.664);
  --todo-color: rgb(228, 106, 147);
  --todo-bg-color: rgba(255, 99, 71, 0.281);
  --high-color: tomato;
  --high-bg-color: rgba(255, 99, 71, 0.281);
  --medium-color: blueviolet;
  --medium-bg-color: rgba(137, 43, 226, 0.249);
  --secondary-gray-color:rgb(161, 160, 160);
}
.App {
    text-align: center;
    /* padding: 20px; */
    height: 100px;
    /* width: fit-content; */
   font-family:"poppins", sans-serif; 
   font-weight: bolder;
  }
  
  .filter{
  text-align: left; margin-left: 23px; padding-top: 1px;
  }
  .filter-form{
    width: 300px;
    margin-left: 23px;
    padding-top: 5px;
  }
.welcome-note{  
text-align: left;
margin-left: 50px;
color: grey;
gap: 2px;}

  .btn{width:fit-content;
  height: 30px;
  padding: 10px;
  border-radius:10px;
  margin: 5px;
  border: 1px grey; 
  color: black;
  cursor: pointer; 
  }
  
  .btn-clicked{
    background-color: rgb(201, 242, 243);
    color:  rgb(25, 79, 82);
  }
  /* .visible {
    display: inline-block; 
  }
  
  .hidden {
    display: none;
  } */
  .form-box{display: flex; position: relative;margin: 50px;}
  .form{position: relative;}
  .input-box{width: 700px; height: 34px; position: relative;text-indent: 24px;outline: none;border: 1px solid rgb(243, 241, 241);}
  .input-box:focus {border: 2px solid rgb(4, 95, 4);} 
  .close-image{width: 20px;position: absolute; top:8px; right:10px;}
          .search-image{width: 30px;position:absolute; cursor: text; top: 4px; left:1px;}
          .addTask{
            color: rgb(11, 92, 11);
            border-color: beige;
            border-radius: 4px;
        cursor: pointer; margin-left: 400px;
      }

      table{width: 91.5%;
        border-collapse: collapse; margin-left: 50px; margin-top: 20px; padding: 30px;
       }
       
       table th{color: black; background-color: rgb(238, 232, 232);
             text-align: left; padding-left: 8px; padding: 8px;}
       
            table td{color: rgb(87, 84, 84); font-weight: lighter; 
               border-bottom: 1px solid rgb(233, 227, 227); padding: 8px; text-align: left; font-size: small;} 
       
               table tr:hover{background-color: rgb(233, 226, 226);}

               
.inprogress{
  background-color: var(--inprogress-bg);
 color: var(--inprogress-color);
}

.onhold{
  background-color: var(--onhold-bg);
 color: var(--onhold-color);
}

.todo{  
   color: var(--todo-color);
 background-color: var(--todo-bg);
}

.done{
 color: var(--done-color);
background-color: var(--done-bg);
}


.high{
 background-color: var(--high-bg);
 color: var(--high-color);
}

.medium{
   background-color: var(--medium-bg);
 color: var(--medium-color);
}

.low{
  background-color: var(--low-bg);
 color: var(--low-color);
}